name: Daily Job Alert

on:
  schedule:
    - cron: "30 7 * * *"
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: pip install feedparser

      - name: Run script
        run: python job_alert.py
        env:
          EMAIL_ADDRESS: ${{ secrets.EMAIL_ADDRESS }}
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
          TO_EMAIL: ${{ secrets.TO_EMAIL }}

      - name: Commit updated sent jobs file
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add sent_jobs.txt
          git commit -m "Update sent jobs file" || echo "No changes"
          git push
